.btn {   
  &-catalog {
    background-color: var(--base-color1);
    color: #fff;
    line-height: 1;
    display: flex;
    align-items: center;
    height: 1em;
    border-radius: 6px;
    padding: 10px 24px 10px 20px;
    cursor: pointer;
    flex-shrink: 0;
      @include media-max-width2($lg - 1) { 
        padding: 10px; 
        background-color:transparent
      }
    span {
      font-size: .4em;
      @include media-max-width2($lg - 1) {  display: none; }
    }
    .burger {
      margin-right: 20px;
      @include media-max-width2($lg - 1) {  
        margin-right: 0; 
        --burger-color: var(--base-color1);

      }
    }
  }
  &-search {
    cursor: pointer;
    background-color: var(--base-color1);
    color: #fff;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    // font-size: 24px;
    font-size: .533334em;
    // width: 80px;
    width: 3.33334em;
    

  }
}  